/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

:root {
}

body {
  background-color: #5179d9;
}

.tamagochi {
  position: relative;
  font-size: calc(0.6em + 1vw);
  width: 24em;
  height: 22em;
  padding: 4em 0;
  display: grid;
  grid-template-rows: 75% auto;
  grid-gap: 1.5em;
  justify-items: center;
  font-family: "";
  border-radius: 50% 50% 10em 10em;
  border-top-left-radius: 11em 15em;
  border-top-right-radius: 11em 15em;
  border-bottom-left-radius: 11em;
  border-bottom-right-radius: 11em;
  background-color: #ff1e36;
  background-image: radial-gradient(#ff1e36, #dd2f41, #690711, #58050e);
  border: 0.25em solid rgba(92, 10, 65, 0.25);
}

.tamagochi__screen {
  position: absolute;
  top: 12rem;
  width: 55%;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2em 1fr 2em;
  color: #29303d;
  background-color: #fbbdb2;
  border-radius: 0.225em;
  border: 0.25em solid #fbbdb2;
  box-shadow: 0 0 0 2px rgb(9 215 251 / 50%), 0 0 15px rgb(255 247 204 / 50%);
}

#root {
  display: flex;
  padding: 10rem;
  justify-content: center;
  text-align: center;
}

.app--title {
  font-weight: 400;
}

label {
  margin-right: 0.5rem;
}

input[type="text"] {
  height: 2rem;
  border: solid 1px;
}

input[type="text"]:focus {
  outline-color: #fbbdb2;
}

.form--btn {
  height: 2rem;
  margin-left: 0.2rem;
  background-color: #fbbdb2;
  border: none;
}

.ButtonContainer > button {
  background-color: #fbbdb2;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
